* {
    box-sizing: border-box;
    margin: 0 0 0 0;
}

header {
    background-color: #ee4729;
    text-align: center;
}

header nav {
    padding: 10px;
}

header nav ul {
    display: flex;
    justify-content: center;
    gap: 100px;
    list-style-type: none;
}

header nav ul a{
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        color: black;
    }
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    gap: 20px;
}

#main img {
    width: 400px;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease;
    transform: scale(1);
}

#main h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #000;
    font-family: Arial, sans-serif;
    transition: color 0.3s ease;
    font-weight: bold;
    text-transform: uppercase;
    /* text-decoration: underline; */
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    &:hover {
        color: red;
        transform: scale(1.1);
    }
    &:focus {
        outline: none;
    }
}

#main input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

#main button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #ee4729;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
    font-weight: bold;
    &:hover {
        background-color: #d33a1c;
    }
    &:focus {
        outline: none;
    }
}

#main .description {
    margin-top: 10px;
    font-size: 20px;
    color: #000;
    font-family: Arial, sans-serif;
}


#main .desc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980b9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}